<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761236157059-crk0uhrthgbfbva27he0upb6nc36nilt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761236157059-crk0uhrthgbfbva27he0upb6nc36nilt</string>
	<key>API_KEY</key>
	<string>AIzaSyDyhH6H_AT8KUvo0NejS994SatFtfmkbVY</string>
	<key>GCM_SENDER_ID</key>
	<string>761236157059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.warningApp</string>
	<key>PROJECT_ID</key>
	<string>test-a54a4</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a54a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761236157059:ios:a3703eaa12be640f9b61b6</string>
	<key>DATABASE_URL</key>
	<string>https://test-a54a4-default-rtdb.firebaseio.com</string>
</dict>
</plist>